body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    125deg,
    rgb(24, 42, 115),
    rgb(33, 138, 174),
    rgb(32, 167, 172)
  );
  background-size: 400% 400%;
  -webkit-animation: moveBackground 10s ease infinite;
  -moz-animation: moveBackground 10s ease infinite;
  animation: moveBackground 10s ease infinite;
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    125deg,
    rgb(24, 42, 115),
    rgb(33, 138, 174),
    rgb(32, 167, 172)
  ) !important;
  height: 100vh;
}

@-webkit-keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.masthead h1.ui.header {
  font-size: 4em;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
